# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rahul\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: trio~=0.17 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sortedcontainers in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: cffi>=1.14 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: exceptiongroup in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\rahul\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rahul\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\rahul\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rahul\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenuim.webdriver.common.by import by
import time

ModuleNotFoundError: No module named 'selenuim'

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')

In [4]:
driver = webdriver.Chrome();

In [5]:
driver.get("https://www.shine.com/")

In [6]:
jobTitle=driver.find_element(By.XPATH,"//input[@placeholder='Job title, skills']")
jobTitle.send_keys('Data Analyst')

In [10]:
driver.find_element(By.XPATH,"//input[@placeholder='Job title, skills']").click()

In [11]:
Title=driver.find_element(By.XPATH,"//input[@id='id_q']")
Title.send_keys('Data Analyst')

In [12]:
Location = driver.find_element(By.XPATH,"//input[@id='id_loc']")
Location.send_keys('Bangalore')

In [13]:
driver.find_element(By.XPATH,"//button[text()='Search jobs']").click()

In [14]:
driver.find_element(By.XPATH, "//h2[@itemprop='name']/a").text

'Lead Data Analyst'

In [15]:
JobTitle = []
Title=driver.find_elements(By.XPATH, "//h2[@itemprop='name']/a")
for i in Title:
    Title=i.text
    JobTitle.append(Title)

In [16]:
JobTitle[0:10]

['Lead Data Analyst',
 'Data Analyst',
 'Vacancy For Data Analyst',
 'Clinical Data Analyst',
 'Data Modeler data',
 'Data Modeller',
 'Data Modeler Bangalore',
 'Data Modeler',
 'Clinical Data Analyst',
 'Data Analyst Hiring Fresher and Experience']

In [17]:
JobLocation = []
Location=driver.find_elements(By.XPATH, "//div[contains(@class,'jobCard_locationIcon')]")
for i in Location:
    Location=i.text
    JobLocation.append(Location)

In [18]:
JobLocation[0:10]

['Bangalore',
 'Bangalore\n+3',
 'Bangalore\n+14',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+4',
 'Bangalore\n+13']

In [19]:
CompanyName = []
company=driver.find_elements(By.XPATH, "//div[contains(@class,'jobCard_cName')]")
for i in company:
    company=i.text
    CompanyName.append(company)

In [20]:
CompanyName[0:10]

['Ara Resources Private Limited',
 'ara resources private limited',
 'diraa hr services hiring for mncs',
 'yogita staffing solution',
 'techno endura',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'quiscon biotech']

In [21]:
ExperienceRequired = []
experience=driver.find_elements(By.XPATH, "//div[contains(@class,'YxRkV jobCard_jobIcon')]")
for i in experience:
    experience=i.text
    ExperienceRequired.append(experience)

In [22]:
ExperienceRequired[0:10]

['4 to 9 Yrs',
 '0 to 1 Yr',
 '0 to 3 Yrs',
 '0 to 1 Yr',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '0 to 2 Yrs',
 '0 to 4 Yrs']

In [146]:
print(len(JobTitle),len(JobLocation),len(CompanyName),len(ExperienceRequired))

20 20 21 20

In [23]:
import pandas as pd
df=pd.DataFrame({'TITLE':JobTitle,'LOCATION':JobLocation,'EXPERIENCE':ExperienceRequired})
df

,TITLE,LOCATION,EXPERIENCE
0,Lead Data Analyst,Bangalore,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+14,0 to 3 Yrs
3,Clinical Data Analyst,Bangalore\n+6,0 to 1 Yr
4,Data Modeler data,Bangalore,3 to 6 Yrs
5,Data Modeller,Bangalore,3 to 6 Yrs
6,Data Modeler Bangalore,Bangalore,3 to 6 Yrs
7,Data Modeler,Bangalore,3 to 6 Yrs
8,Clinical Data Analyst,Bangalore\n+4,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,0 to 4 Yrs
10,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,0 to 4 Yrs
11,Data Engineer-OBIEE,Bangalore\n+1,5 to 10 Yrs
12,Data Analyst Recruitment,Bangalore\n+13,0 to 4 Yrs
13,Data Modeler,Bangalore\n+6,5 to 10 Yrs
14,Data typing/computer operator/work from home/p...,Bangalore,0 to 4 Yrs
15,Clinical Data Analyst,Bangalore\n+6,0 to 1 Yr
16,Data Modeler Bangalore,Bangalore,3 to 6 Yrs
17,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,0 to 3 Yrs
18,Data Intelligence Analyst,Bangalore\n+6,0 to 1 Yr
19,Analytics Manager,Bangalore\n+9,15 to >25 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [25]:
driver = webdriver.Chrome();

In [26]:
driver.get("https://www.shine.com/")

In [27]:
jobTitle=driver.find_element(By.XPATH,"//input[@placeholder='Job title, skills']")
jobTitle.send_keys('Data Scientist')

In [29]:
driver.find_element(By.XPATH,"//input[@placeholder='Job title, skills']").click()

In [30]:
Title=driver.find_element(By.XPATH,"//input[@id='id_q']")
Title.send_keys('Data Scientist')

In [31]:
Location = driver.find_element(By.XPATH,"//input[@id='id_loc']")
Location.send_keys('Bangalore')

In [32]:
driver.find_element(By.XPATH,"//button[text()='Search jobs']").click()

In [33]:
JobTitle = []
Title=driver.find_elements(By.XPATH, "//h2[@itemprop='name']/a")
for i in Title:
    Title=i.text
    JobTitle.append(Title)

In [34]:
JobTitle[0:10]

['Data Scientist Recruitment',
 'Data Scientist Recruitment',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist/ Principal Data Scientist',
 'Senior Data Scientist',
 'Vacancy For Data Scientist Fresher and Experience',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist Urgent Vacancy']

In [35]:
JobLocation = []
Location=driver.find_elements(By.XPATH, "//div[contains(@class,'jobCard_locationIcon')]")
for i in Location:
    Location=i.text
    JobLocation.append(Location)

In [36]:
JobLocation[0:10]

['Bangalore\n+15',
 'Bangalore\n+15',
 'Bangalore\n+4',
 'Bangalore',
 'Bangalore\n+1',
 'Bangalore\n+1',
 'Bangalore\n+14',
 'Bangalore\n+1',
 'Bangalore\n+7',
 'Bangalore\n+14']

In [37]:
CompanyName = []
company=driver.find_elements(By.XPATH, "//div[contains(@class,'jobCard_cName')]")
for i in company:
    company=i.text
    CompanyName.append(company)

In [38]:
CompanyName[0:10]

['RENUKA INTERPRISES',
 'renuka interprises',
 'renuka interprises',
 'acme services private limited',
 'ltimindtree limited',
 'fractal',
 'neostats',
 'yogita staffing solution',
 'aereo',
 'people staffing solutions']

In [39]:
ExperienceRequired = []
experience=driver.find_elements(By.XPATH, "//div[contains(@class,'YxRkV jobCard_jobIcon')]")
for i in experience:
    experience=i.text
    ExperienceRequired.append(experience)

In [40]:
ExperienceRequired[0:10]

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '3 to 5 Yrs',
 '6 to 8 Yrs',
 '5 to 9 Yrs',
 '7 to 11 Yrs',
 '0 to 3 Yrs',
 '7 to 10 Yrs',
 '4 to 9 Yrs',
 '0 to 3 Yrs']

In [41]:
import pandas as pd
df=pd.DataFrame({'TITLE':JobTitle,'LOCATION':JobLocation,'EXPERIENCE':ExperienceRequired})
df

,TITLE,LOCATION,EXPERIENCE
0,Data Scientist Recruitment,Bangalore\n+15,0 to 4 Yrs
1,Data Scientist Recruitment,Bangalore\n+15,0 to 4 Yrs
2,Data Scientist,Bangalore\n+4,3 to 5 Yrs
3,Data Scientist,Bangalore,6 to 8 Yrs
4,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,5 to 9 Yrs
5,Senior Data Scientist,Bangalore\n+1,7 to 11 Yrs
6,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,0 to 3 Yrs
7,Lead Data Scientist,Bangalore\n+1,7 to 10 Yrs
8,Data Scientist,Bangalore\n+7,4 to 9 Yrs
9,Data Scientist Urgent Vacancy,Bangalore\n+14,0 to 3 Yrs
10,Data Scientist,Bangalore\n+2,0 to 4 Yrs
11,Pharma Data Scientist,Bangalore\n+4,0 to 1 Yr
12,Hiring For Data Scientist,Bangalore\n+13,0 to 3 Yrs
13,Hiring For Data Scientist,Bangalore\n+14,0 to 3 Yrs
14,Data Scientist Urgent Vacancy,Bangalore\n+13,0 to 4 Yrs
15,Data Scientist Recruitment,Bangalore\n+13,0 to 4 Yrs
16,Data scientist,Bangalore\n+8,6 to 11 Yrs
17,Data Scientist,Bangalore,1 to 2 Yrs
18,Data Engineer-OBIEE,Bangalore\n+1,5 to 10 Yrs
19,Data Scientist,Bangalore,0 to 2 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [42]:
driver = webdriver.Chrome();

In [43]:
driver.get("https://www.shine.com/")

In [44]:
jobTitle=driver.find_element(By.XPATH,"//input[@placeholder='Job title, skills']")
jobTitle.send_keys('Data Scientist')

In [45]:
driver.find_element(By.XPATH,"//input[@placeholder='Job title, skills']").click()

In [46]:
Title=driver.find_element(By.XPATH,"//input[@id='id_q']")
Title.send_keys('Data Scientist')

In [47]:
Location = driver.find_element(By.XPATH,"//input[@id='id_loc']")
Location.send_keys('Delhi/NCR')

In [48]:
driver.find_element(By.XPATH,"//button[text()='Search jobs']").click()

In [49]:
JobTitle = []
Title=driver.find_elements(By.XPATH, "//h2[@itemprop='name']/a")
for i in Title:
    Title=i.text
    JobTitle.append(Title)

In [50]:
JobTitle[0:10]

['Data Scientist | Senior Data Scientist Chennai',
 'Data Scientist/Data Analyst-17740',
 'Data Scientist',
 'Data Scientist /Quantitative Equity Researcher 2',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist II, GPS India Operations T500-10229',
 'Lead Data Scientist']

In [51]:
JobLocation = []
Location=driver.find_elements(By.XPATH, "//div[contains(@class,'jobCard_locationIcon')]")
for i in Location:
    Location=i.text
    JobLocation.append(Location)

In [52]:
JobLocation[0:10]

['Chennai',
 'All India',
 'All India',
 'Other Maharashtra',
 'Hyderabad\n+1',
 'Other Haryana',
 'All India',
 'Other Karnataka',
 'Hyderabad\n+1',
 'Other Karnataka']

In [53]:
CompanyName = []
company=driver.find_elements(By.XPATH, "//div[contains(@class,'jobCard_cName')]")
for i in company:
    company=i.text
    CompanyName.append(company)

In [54]:
CompanyName[0:10]

['Talent Leads HR Solutions Pvt Ltd',
 'talent leads hr solutions pvt ltd',
 'gemraj technologies ltd',
 'mindshift analytics',
 'pinebridge investments',
 'neuzen ai',
 'signify',
 'smarthelio',
 'cropin',
 'bristol myers squibb']

In [55]:
ExperienceRequired = []
experience=driver.find_elements(By.XPATH, "//div[contains(@class,'YxRkV jobCard_jobIcon')]")
for i in experience:
    experience=i.text
    ExperienceRequired.append(experience)

In [56]:
ExperienceRequired[0:10]

['8 to 13 Yrs',
 '3 to 7 Yrs',
 '3 to 7 Yrs',
 '0 to 7 Yrs',
 '1 to 2 Yrs',
 '5 to 9 Yrs',
 '3 to 7 Yrs',
 '2 to 6 Yrs',
 '3 to 5 Yrs',
 '5 to 9 Yrs']

In [57]:
import pandas as pd
df=pd.DataFrame({'TITLE':JobTitle,'LOCATION':JobLocation,'EXPERIENCE':ExperienceRequired})
df

,TITLE,LOCATION,EXPERIENCE
0,Data Scientist | Senior Data Scientist Chennai,Chennai,8 to 13 Yrs
1,Data Scientist/Data Analyst-17740,All India,3 to 7 Yrs
2,Data Scientist,All India,3 to 7 Yrs
3,Data Scientist /Quantitative Equity Researcher 2,Other Maharashtra,0 to 7 Yrs
4,Data Scientist,Hyderabad\n+1,1 to 2 Yrs
5,Data Scientist,Other Haryana,5 to 9 Yrs
6,Data Scientist,All India,3 to 7 Yrs
7,Data Scientist,Other Karnataka,2 to 6 Yrs
8,"Data Scientist II, GPS India Operations T500-1...",Hyderabad\n+1,3 to 5 Yrs
9,Lead Data Scientist,Other Karnataka,5 to 9 Yrs
10,Lead Data Scientist,Other Maharashtra\n+1,8 to 12 Yrs
11,Data Scientist,Other Karnataka,2 to 4 Yrs
12,Data Scientist,Hyderabad\n+1,5 to 9 Yrs
13,Data Scientist (Theoretical),All India,2 to 6 Yrs
14,Senior Data Scientist,Other Karnataka,7 to 10 Yrs
15,Data Scientist,Other Maharashtra\n+1,1 to 5 Yrs
16,HM Lead Data Scientist,Other Karnataka,7 to 10 Yrs
17,Staff Data Scientist,Other Karnataka,2 to 5 Yrs
18,Data Scientist- BLR HYD GGN,Other Karnataka,5 to 9 Yrs
19,Lead Data Scientist,All India,10 to 14 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.

In [64]:
driver = webdriver.Chrome();

In [65]:
driver.get("http://www.flipkart.com/")

In [66]:
Product=driver.find_element(By.XPATH,"//input[@class='Pke_EE']")
Product.send_keys('sunglasses')

In [67]:
driver.find_element(By.XPATH,"//input[@class='Pke_EE']").click()

In [71]:
Item = []
Title=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in Title:
    Title=i.text
    Item.append(Title)

In [72]:
Item

['SRPM',
 'Elligator',
 'VINCENT CHASE',
 'ROADWAY',
 'peter india',
 'VINCENT CHASE',
 'ROADWAY',
 'Elligator',
 'TheWhoop',
 'Elligator',
 'Elligator',
 'NOWWAY',
 'PIRASO',
 'PIRASO',
 'Rich Club',
 'Elligator',
 'Rich Club',
 'Bembika',
 'Singco India',
 'VINCENT CHASE',
 'DEIXELS',
 'ZUKER',
 'RBGIIT',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'Singco India',
 'ROZZETTA CRAFT',
 'Royaltail',
 'Elligator',
 'Singco India',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'Ray-Ban',
 'Rich Club']

In [81]:
Details = []
pdetails=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in pdetails:
    pdetails=i.text
    Details.append(pdetails)

In [82]:
Details

['UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...',
 'Polarized Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Gradient Clubmaster Sung...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Polarized Round Sunglasses (Free Size)',
 'Night Vision, UV Protection, Polarized Wrap-around Sung...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Butterfly Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (54)']

In [83]:
PRICE = []
pprice=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in pprice:
    pprice=i.text
    PRICE.append(pprice)

In [84]:
PRICE

['₹149',
 '₹149',
 '₹499',
 '₹129',
 '₹220',
 '₹523',
 '₹179',
 '₹149',
 '₹539',
 '₹169',
 '₹149',
 '₹299',
 '₹210',
 '₹299',
 '₹487',
 '₹168',
 '₹394',
 '₹189',
 '₹249',
 '₹811',
 '₹187',
 '₹699',
 '₹229',
 '₹249',
 '₹232',
 '₹551',
 '₹636',
 '₹169',
 '₹299',
 '₹739',
 '₹317',
 '₹381',
 '₹1,118',
 '₹159',
 '₹375',
 '₹388',
 '₹279',
 '₹811',
 '₹4,659',
 '₹455']

In [85]:
import pandas as pd
df=pd.DataFrame({'PRODUCT':Item,'INFO':Details,'PRICES':PRICE})
df

ValueError: All arrays must be of the same length

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

In [86]:
driver = webdriver.Chrome();

In [88]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART")

In [91]:
REVIEW = []
review=driver.find_elements(By.XPATH, "//p[@class='_2-N8zT']")
for i in review:
    review=i.text
    REVIEW.append(review)

In [98]:
REVIEW

['Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome']

In [96]:
start=0
end=6
for page in range(start,end):
    review=driver.find_elements(By.XPATH, "//p[@class='_2-N8zT']")
    for i in review:
        review=i.text
        REVIEW.append(review)
    next_button=driver.find_element(By.XPATH, "//a[@class='_1LKTO3']")  
    next_button.click()
    time.sleep(3)

In [97]:
len(REVIEW)

110

In [99]:
REVIEW[0:100]

['Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!',
 'Fabulous!',
 'Brilliant',
 'Brilliant',
 'Excellent',
 'Awesome',
 'Fabulous!',
 'Terrific purchase',
 'Must buy!',
 'Super!',
 'Simply awesome',
 'Worth every penny',
 'Best in the market!',
 'Wonderful',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Perfect product!',
 'Perfect product!',
 'Just wow!',
 'Must buy!']

In [100]:
DETAIL_REVIEW = []
review1=driver.find_elements(By.XPATH, "//div[@class='t-ZTKy']")
for i in review1:
    review1=i.text
    DETAIL_REVIEW.append(review1)

In [101]:
DETAIL_REVIEW

['Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Good Camera',
 'This is amazing at all',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'Value for money 😍',
 'Photos super',
 'V Good all',
 'Perfect Product!!',
 'It’s really awesome']

In [103]:
start=0
end=6
for page in range(start,end):
    review1=driver.find_elements(By.XPATH, "//div[@class='t-ZTKy']")
    for i in review1:
        review1=i.text
        DETAIL_REVIEW.append(review1)
    next_button=driver.find_element(By.XPATH, "//a[@class='_1LKTO3']")  
    next_button.click()
    time.sleep(3)

In [104]:
DETAIL_REVIEW[0:100]

['Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Good Camera',
 'This is amazing at all',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'Value for money 😍',
 'Photos super',
 'V Good all',
 'Perfect Product!!',
 'It’s really awesome',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Super🔥 and good performance 👌❤️',
 'Excellent Phone.',
 'very good camera quality',
 'NYC',
 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE',
 'It’s very good battery life and display and video quality and ther performance of iPhone.....🔥🔥🌈',
 'Value for money 🖤🖤',
 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
 'Good product 👌I love iPhone',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Good Camera',
 'This is amazing at all',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'Value for money 😍',
 'Photos super',
 'V Good all',
 'Perfect Product!!',
 'It’s really awesome',
 'Super🔥 and good performance 👌❤️',
 'Excellent Phone.',
 'very good camera quality',
 'NYC',
 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE',
 'It’s very good battery life and display and video quality and ther performance of iPhone.....🔥🔥🌈',
 'Value for money 🖤🖤',
 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
 'Good product 👌I love iPhone',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Good Camera',
 'This is amazing at all',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'Value for money 😍',
 'Photos super',
 'V Good all',
 'Perfect Product!!',
 'It’s really awesome',
 'Super🔥 and good performance 👌❤️',
 'Excellent Phone.',
 'very good camera quality',
 'NYC',
 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE',
 'It’s very good battery life and display and video quality and ther performance of iPhone.....🔥🔥🌈',
 'Value for money 🖤🖤',
 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.',
 'Good product 👌I love iPhone',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Good Camera',
 'This is amazing at all',
 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Very very good',
 'Value for money 😍',
 'Photos super',
 'V Good all',
 'Perfect Product!!',
 'It’s really awesome']

In [105]:
RATING = []
rating=driver.find_elements(By.XPATH, "//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    rating=i.text
    RATING.append(rating)

In [106]:
RATING

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [107]:
start=0
end=6
for page in range(start,end):
    rating=driver.find_elements(By.XPATH, "//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        rating=i.text
        RATING.append(rating)
    next_button=driver.find_element(By.XPATH, "//a[@class='_1LKTO3']")  
    next_button.click()
    time.sleep(3)

In [109]:
RATING[0:100]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [110]:
import pandas as pd
df=pd.DataFrame({'Review':REVIEW,'DetailReview':DETAIL_REVIEW,'RATINGS':RATING})
df

ValueError: All arrays must be of the same length

In [111]:
len(REVIEW),len(DETAIL_REVIEW),len(RATING)

(110, 71, 70)